
.item__details {
    padding-top: 100px;
    display: flex;
    align-items: center;
    gap: 50px;
}


.item__details .thumb {
    flex: 0 0 38%;
}
.item__details .thumb img {
    max-width: 100%;
    width: 100%;
}

.item__content {
    flex: 0 0 calc(62% - 50px);
}
.item__content .title {
    font-size: 48px;
    margin-bottom: 10px;
}

.item__content p {
    margin-bottom: 10px;
}

.item__content .item__genres {
    display: flex;
    align-content: center;
    gap: 10px;
    margin-bottom: 20px;
}
.item__content .item__genres a {
    background-color: rgba(0,0,0, .1);
    padding: 2px 15px;
    border-radius: 20px;
    display: inline-block;
    font-size: 14px;
}
.item__content .overview {
    font-size: 15px;
    color: #6e6e6e;
    margin-bottom: 10px;
}
.item__content button {
    background: #e50914;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    padding: 11.5px 25px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
}

.ReactModal__Overlay.ReactModal__Overlay--after-open {
    background: rgba(0, 0, 0, 0.5) !important;
}

.ReactModal__Content {
    overflow: unset !important;
}
.ReactModal__Content .modal__close {
    position: absolute;
    top: -15px;
    right: -15px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    color: #fff;
    font-size: 14px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    background: #e50914;
}

.cast__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
    gap: 15px;
}

.showHandle {
    grid-column: 1 / -1;
    text-align: center;
}